<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieMarvel</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body onmousemove="closetooltip()">
    <partial name="_CookieConsentPartial" />
    <div id="cart">
        @if (Program.Control.UserExist == 0)
        {
            <form id="signin" name="myform" method="post" asp-page-handler="Login" onsubmit="return validateSignInForm()">
                <input id="signinemail" type="email" name="emailsignin" placeholder=" enter email" onclick="closeForm()" style="top: @Model.position" required/>
                <input id="signinpassword" type="password" name="passwordsignin" placeholder=" enter password" onclick="closeForm()" style="top:@Model.position" required/>
                <input id="submit" type="submit" name="login" value="Sign in" onclick="closeForm()" style="top:@Model.position" required/>
            </form>
            @if (Model.cartItemCount != 0)
            {
                <input id="cartImg" type="image" src="~/images/shoppingcart.png" onclick="closeForm()" onmouseover="showCart()" onmouseout="closeCart()" style="display:@Model.cartDisplay" />
                @if (Model.cartItemCount > 9)
                {
                    <span id="itemcount" style="left: -18px; display:@Model.cartDisplay" onmouseover="showCart()" onmouseout="closeCart()">@Model.cartItemCount</span>
                }
                else
                {
                    <span id="itemcount" style="left: -15px; display:@Model.cartDisplay" onmouseover="showCart()" onmouseout="closeCart()">@Model.cartItemCount</span>
                }
            }
            <input type="submit" id="signupBtn" onclick="showSignupForm()" name="Sign up" value="Sign up" style="top:@Model.position" />
        }
        else
        {
           
                <input id="cartImg" type="image" src="~/images/shoppingcart.png" onclick="closeForm()" onmouseover="showCart()" onmouseout="closeCart()" style="display:@Model.cartDisplay" />
                @if (Model.cartItemCount > 9)
                {
                    <span id="itemcount" style="left: -18px; display:@Model.cartDisplay" onmouseover="showCart()" onmouseout="closeCart()">@Model.cartItemCount</span>
                }
                else
                {
                    <span id="itemcount" style="left: -15px; display:@Model.cartDisplay" onmouseover="showCart()" onmouseout="closeCart()">@Model.cartItemCount</span>
                }

            <form id="signout" method="post" asp-page-handler="Signout">
                <input id="signoutBtn" type="submit" name="Sign out" value="Sign out" />
            </form>
        }
    </div>
    <div id="errlogin" style="display: @Model.errDisplay">Incorrect username or password!</div>
    <div id="userCreation" style="display: @Model.creationDisplay">Account created successfully!</div>
    <div id="errCreation" style="display: @Model.errCreationDisplay">Username already exist!</div>
    @if (Model.rentedMoviePosters.Count > 0)
    {
        <div id="previewCart" onmouseover="showCart()" onmouseout="closeCartInstant()">

            @for (int i = 0; i < Model.rentedMoviePosters.Count; i++)
            {
                <div id="moviediv(@i)">
                    <img src="https://image.tmdb.org/t/p/w500/@Model.rentedMoviePosters[i]">
                    <div id="titlediv" title="@Model.rentedMovieTitles[i]">
                        @if (Model.rentedMovieTitles[i].Length > 30)
                        {
                            <p id="title">@Model.rentedMovieTitles[i].Substring(0, 30)...</p>
                        }
                        else
                        {
                            <p id="title">@Model.rentedMovieTitles[i]</p>
                        }
                    </div>
                    <p id="cost">$@Model.rentedMovieCosts[i]</p>
                    @if (i < Model.rentedMoviePosters.Count - 1)
                    {
                        <hr />
                    }
                </div>
            }
            <hr />
            <div class="checkout" style="text-align: center">
                <p style="float: left; font-size: medium">Subtotal</p>
                <p style="float: right; font-size: medium">$@Model.totalCost</p>
            </div>
            <div style="text-align: center">
                <a asp-page="./Cart" asp-route-id="@Model.rentedMoviePosters.Count">
                    <input type="button" class="checkout" value="CHECKOUT"/>
                </a>
            </div>
        </div>
    }
    <div id="blocker" onclick="closeForm()" style="display:@Model.showSignUpForm"></div>
    <div id="signupForm" style="display:@Model.showSignUpForm">
        <div>
            <form id="form" name="myforms" method="post" asp-page-handler="CreateAccount" onsubmit="return validateSignUpForm()">
                <fieldset>
                    <legend>Sign-up Form:<span id="close" onclick="closeForm()">x</span></legend>
                    <span>Email:</span><br>
                    <input class="signupFormInput; inputfield" id="signupemail" type="email" name="myemail" placeholder=" enter email" required/>
                    <br>
                    <span>Password:</span><br>
                    <input class="signupFormInput; inputfield" id="signuppassword" type="password" name="mypassword" placeholder=" enter password" required>
                    <br><br>
                    <input class="signupFormInput" id="inputBtn" type="submit" value="Create Account" required />
                </fieldset>
            </form>
        </div>
    </div>
    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>